.header {
  position: relative;
  z-index: 10;
  line-height: 1.4;
  background: var(--primary-bg-color);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding-block: 25px;

    @include respond-to(mlarge) {
      padding-block: 22px;
    }
  }

  &__logo {
    position: relative;
    z-index: 10;
    font-family: var(--secondary-font), serif;
    font-weight: 700;
    font-size: clamp(22px, 4vw, 36px);
    line-height: 1.39;
    color: var(--seconadary-color);
    letter-spacing: -0.01em;

    @include respond-to(mlarge) {
      font-size: 22px;
      line-height: 1.45;
    }
  }

  &__nav {
    padding-left: 39px;
    color: var(--seconadary-color);

    @include respond-to(xlarge) {
      padding-left: 0;
    }

    @include respond-to(mlarge) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: fixed;
      right: 0;
      width: 50%;
      top: 0;
      bottom: 0;
      padding: 80px 24px 40px;
      background: var(--primary-bg-color);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      overflow: auto;
      transition: 0.3s;
      transform: translateX(110%);

      &.is-active {
        transform: translateX(0);
      }
    }

    @include respond-to(medium) {
      width: 100%;
    }

    &-contacts {
      display: flex;
      flex-direction: column;
      gap: 13px;
      margin-top: auto;

      @include respond-from(mlarge) {
        display: none;
      }
    }

    &-phones {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 14px;
    }

    &-socs {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 18px;
    }

    &-soc {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 52px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include respond-to(xlarge) {
      gap: 5px;
    }

    @include respond-to(mlarge) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &-item {
      &:has(.header__submenu) {
        position: relative;

        .header__menu-link {
          &:after {
            content: '';
            display: block;
            width: 8px;
            height: 5px;
            margin-left: 6px;
            margin-top: 1px;
            transition: 0.3s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiIGZpbGw9Im5vbmUiPjxwYXRoIHN0cm9rZT0iIzAwNDhDRSIgZD0iTTcgMSA0LjAwMiA0IDEuMDAzIDEiLz48L3N2Zz4=);

            @include respond-to(mlarge) {
              display: none;
            }
          }
        }

        &:hover {
          .header__submenu {
            transform: scaleY(1);
            will-change: transform;
          }

          .header__menu-link {
            border-radius: 10px 10px 0 0;
            background: var(--l-blue);

            &:after {
              transform: scaleY(-1);
            }
          }
        }
      }
    }

    &-link {
      display: flex;
      align-items: center;
      padding: 6px 20px;
      border-radius: var(--secondary-border-radius);
      background: var(--primary-bg-color);
      white-space: nowrap;

      &:hover {
        background: var(--l-blue);
      }

      @include respond-to(mlarge) {
        padding: 0;
        font-family: var(--secondary-font), serif;
        font-size: 30px;
        border-radius: 0;
        background: transparent !important;
      }
    }
  }

  &__submenu {
    margin: 0;
    padding: 2px 20px 11px;
    border-top: 1px solid #d9e4f8;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--l-blue);
    list-style: none;
    transition: 0.3s;
    border-radius: 0 0 10px 10px;
    transform: scaleY(0);
    transform-origin: top center;

    @include respond-to(mlarge) {
      position: static;
      padding: 4px 0 5px 20px;
      border: none;
      background: transparent;
      border-radius: 0;
      transition: none;
      transform: none;
    }

    &-item {
      padding: 5px 0;
    }

    &-link {
      display: block;

      &:hover {
        color: var(--hover-color);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 10;
    color: var(--seconadary-color);
    transform: translate(7px, 1px);

    @include respond-to(xlarge) {
      transform: translateX(0);
    }

    @include respond-to(mlarge) {
      gap: 34px;
    }
  }

  &__socs {
    display: flex;
    align-items: center;
    gap: 7px;

    @include respond-to(mlarge) {
      display: none;
    }
  }

  &__soc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;

    &:hover {
      scale: 1.1;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }

  &__phone {
    white-space: nowrap;

    @include respond-to(mlarge) {
      display: none;
    }

    &:hover {
      color: var(--hover-color);
    }
  }

  &__lang {
    text-decoration: underline;
    text-decoration-skip-ink: none;

    &:hover {
      text-decoration: none;
    }

    @include respond-to(mlarge) {
      text-decoration: none;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 22px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
    }

    @include respond-from(mlarge) {
      display: none;
    }

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s;

      &:last-child {
        transform: scale(0);
      }
    }

    &.is-active {
      svg {
        &:first-child {
          transform: scale(0);
        }
        &:last-child {
          transform: scale(1);
        }
      }
    }
  }
}
