:root {
  /* fonts */
  --primary-font: 'Golos Text';
  --secondary-font: 'Merriweather';

  /* colors */
  --primary-bg-color: #fff;
  --primary-color: #111;
  --seconadary-color: #0048ce;
  --hover-color: #548fff;
  --d-gray: #6d6c72;
  --l-blue: #f1f4fd;

  /* ui */
  --primary-border-radius: 16px;
  --secondary-border-radius: 10px;
  --primary-box-shadow: 0 14px 44px 0 rgba(125, 140, 180, 0.07);
}
