<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no, address=no, email=no, date=no, url=no" />
    <meta name="theme-color" content="#F1F4FD" />
    <meta name="author" content="a.nikonorov" />
    <meta name="description" content="Тестовое задание для студии «Арбуз»" />
    <meta name="keywords" content="тестовое задание" />
    <title>Арбуз | <!--#echo var="title" --></title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Golos+Text&family=Merriweather:wght@400;700&display=swap">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <header class="header">
        <div class="header__container container">
          <a href="#" class="header__logo">Estate</a>
          <nav class="header__nav">
            <ul class="header__menu">
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Недвижимость</a>
                <ul class="header__submenu">
                  <li class="header__submenu-item">
                    <a class="header__submenu-link" href="#">Жилая</a>
                  </li>
                  <li class="header__submenu-item">
                    <a class="header__submenu-link" href="#">Коммерческая</a>
                  </li>
                  <li class="header__submenu-item">
                    <a class="header__submenu-link" href="#">Инвестиционная</a>
                  </li>
                  <li class="header__submenu-item">
                    <a class="header__submenu-link" href="#">Эксклюзивная</a>
                  </li>
                </ul>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Услуги</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">Блог</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#">О компании</a>
              </li>
            </ul>
          </nav>
          <div class="header__right">
            <div class="header__socs">
              <a class="header__soc" href="https://t.me/+79998548585" target="_blank" aria-label="Telegram">
                <svg><use href="img/sprite.svg#tg"></use></svg>
              </a>
              <a class="header__soc" href="https://wa.me/+79998548585" target="_blank" aria-label="WhatsApp">
                <svg><use href="img/sprite.svg#wa"></use></svg>
              </a>
            </div>
            <a class="header__phone" href="tel:+79998548585">+7 999 854 85 85</a>
            <a class="header__lang" href="#">En</a>
          </div>
        </div>
      </header>

      <main class="main-area">