.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: var(--primary-border-radius);
  box-shadow: var(--primary-box-shadow);
  background: var(--primary-bg-color);

  &:hover {
    .card__photo img {
      scale: 1.1;
    }
  }

  &__photo {
    padding-bottom: 89.7%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale 0.8s;
    }
  }

  &__socs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    right: 20px;
  }

  &__soc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: -5px;

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      scale: 1.1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px 30px 17px;
    text-align: center;
    line-height: 1.4;
  }

  &__name {
    font-size: 18px;
    font-family: var(--secondary-font), serif;
  }

  &__post {
    min-height: 40px;
    font-size: 14px;
    line-height: 1.43;
    color: #7d8cb4;
  }
}
